<div *ngIf="isValid">
   <!-- Floating Chat Button -->
   <div class="chat-toggle-container">
    <button class="chat-toggle" (click)="toggleChat()">
      💬 <span class="chat-toggle-text">Need Help?</span>
    </button>
  </div>
  

  <!-- Chat Widget -->
  <div *ngIf="isChatOpen" class="chat-widget">
    <div class="chat-header">
      <div class="agent-info">
        <img src="https://i.ibb.co/9NbJMcv/mj-k.webp" alt="Agent Avatar" class="agent-avatar" />
        <h4>Maui Jim Assistant</h4>
    
      </div>
      <button class="close-btn" (click)="toggleChat()">✖</button>
    </div>

    <div #chatBody class="chat-body">
	   <div [ngClass]="'bot-msg'">
        <markdown [data]="wcMessage[0].content"></markdown>
     </div>
      <div *ngFor="let msg of messages">
        <div *ngIf="msg.role !== 'system'" [ngClass]="msg.role === 'assistant' ? 'bot-msg' : 'user-msg'">
          <markdown [data]="msg.content"></markdown>
        </div>
      </div>
    </div>

    <div class="chat-footer">
      <input
        [(ngModel)]="userInput"
        (keydown.enter)="sendMessage()"
        placeholder="Type your message..."
      />
      <button class="send-btn" (click)="sendMessage()">Send</button>
    </div>
    <!-- Disclaimer -->
<div class="chat-disclaimer">
  <span class="disclaimer-icon">⚠️</span>
  <small>
    Powered by <strong>OpenAI</strong>. Responses are AI-generated and may not always be accurate.
    <a href="https://openai.com/index/chatgpt/#limitations" class="learn-more-link">Learn more</a>.
  </small>
</div>
  </div>
</div>
